body{
    font-family: 'Yuji Hentaigana Akebono', cursive; 
}

.header_div 
{
    background-color: ghostwhite;
    color: mediumorchid;
}
.header_div  p 
{
    color: navy;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}

.main_div button
{
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.footer
{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: rgb(255, 255, 255);
width: 100%;
text-align: center;
line-height:2;
}